{{ define "main" }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

<div class="hero-banner">
<h6>List of all CMMS</h6>
<h1>CMMS Software</h1>
</div>
<div class="container">
{{ $table := .Site.Data.rating_table.tableList }}
<ul class="rating-list">
{{ range $table }}
<li>{{ .li }}</li>
{{ end }}
</ul>
{{ range .Data.Pages }}

<div class="rating-card">
	<div class="rating-profile">
		<h3>{{ .Title }}</h3>
		<img src="{{ .Params.image }}" alt="" />
	</div>
<div class="capterra-rating">
	<p class="star{{ .Params.rating1 }}"></p>
</div>
<div class="g2-rating">
	<p class="star{{ .Params.rating2 }}"></p>
</div>
<div class="sw-rating">
	<p class="star{{ .Params.rating3 }}"></p>
</div>
<a href="/rating/{{ replace (lower .Title) " " "-" }}">
<button type="button" name="button">DETAILS</button>
</a>
</div>
{{ end }}
</div>
{{ partial "footer.html" . }}
{{ end }}
